button {
  outline: none;
  width: 75px;
  border: 1px solid rgb(0, 0, 0);
  border-width: 0px 1px 1px 0px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
}

.opButton {
  background-color: #353538;
  color: rgb(147, 147, 147);
}

.number:first-of-type {
  border-left: 1px solid #000;
}

.number {
  background-color: #5b5b5b;
  color: rgb(147, 147, 147);
}

/* .row:last-of-type button:last-of-type {
  border-bottom-right-radius: 7px;
}

.row:last-of-type button:first-of-type {
  border-bottom-left-radius: 7px;
} */
