.display {
  height: 60px;
  color: white;
  margin: 0 auto;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.operator {
  height: 20px;
  text-align: right;
  margin-right: 20px;
  font-size: 30px;
}
